<ion-header [translucent]="true">
  <ion-toolbar class="phone">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>

    <ion-title class="toolbar-title">Contas a Pagar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="login-card">
    <ion-card-header>
      <ion-card-title class="lc-title">Nova Conta a Pagar</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="custom-item" lines="none">
        <ion-label class="field-ion-label" position="stacked">Fornecedor:</ion-label>
        <ion-input class="field-input" [(ngModel)]="conta.nome" placeholder="Nome do Fornecedor"></ion-input>
      </ion-item>

      <ion-item class="custom-item" lines="none">
        <ion-label class="field-ion-label" position="stacked">Vencimento:</ion-label>
        <ion-input class="field-input" [(ngModel)]="conta.vencimento"
          placeholder="00/00/0000"
          maxlength="10"
          (ionInput)="formatarData('vencimento')">
        </ion-input>
      </ion-item>

      <ion-item class="custom-item" lines="none">
        <ion-label class="field-ion-label" position="stacked">Pagamento</ion-label>
        <ion-input class="field-input" [(ngModel)]="conta.pagamento"           
          placeholder="00/00/0000"
          maxlength="10"
          (ionInput)="formatarData('pagamento')"></ion-input>
      </ion-item>

      <ion-item class="custom-item" lines="none">
        <ion-label class="field-ion-label" position="stacked">Valor</ion-label>
        <ion-input class="field-input" [ngModel]="conta.valor" placeholder="0.00" (ionInput)="formatarValor($event)"></ion-input>
      </ion-item>

    <ion-button class="btn-login" expand="block" (click)="salvarConta()">Salvar Conta</ion-button>
    <ion-button class="btn-sec" expand="block" (click)="limparFormulario()">Limpar</ion-button>
    </ion-card-content>
  </ion-card>

    <ion-card>
    <ion-card-header>

    <ion-card-title class="lc-title">Listagem de Pagamentos</ion-card-title>
    </ion-card-header>

    <ion-list *ngIf="contas.length > 0;">

      <ion-item *ngFor="let item of contas; let i = index;">
        <ion-label>
          <h2 class="li-name">{{ item.nome }}</h2>
          <p class="li-info">Venc: {{ item.vencimento }}</p>
          <p class="li-info">Pgto:  {{ item.pagamento }}</p>
          <p class="li-info">Valor: R$ {{ item.valor }}</p>
        </ion-label>
        <ion-button class="excluir" slot="end" (click)="excluirConta(i)">Excluir</ion-button>
      </ion-item>

    </ion-list>
  </ion-card>


</ion-content>
